<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" th:href="@{/styles.css}" />
<title>Registration Page</title>
</head>

<body>

<p> Sing Up</p>

<form autocomplete="off" action="#" th:action="@{/registration}"
        th:object="${user}" method="post" class="m-t" role="form"
        data-toggle="validator">

<div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
       
</div>
      

<label for="name">Name (login): </label>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
      th:if="${#fields.hasErrors('name')}" 
            th:errors="*{name}">Name Error</span>
            
      <br/>
   

<label for="name">E-mail: </label>
      <input type="text" th:field="*{email}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('email')}" 
            th:errors="*{email}">E-mail Error</span>
      <br/>


<label for="name">Password: </label>
      <input type="text" th:field="*{password}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('password')}" 
            th:errors="*{password}">Password Error</span>

  
<input type="submit" value="Sing Up" />

</form>
</body>
</html>